:root {
  --accent-color: #6D5BD0;
  --accent-hov-color: #5541C8;
  --secondary-color: #8B83BA;
  --tertiary-color: #F4F2FF;
  --low-accent-color: #6d5bd04f;
  --text-color: #25213B;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
